<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <style>
            #red {
                background-color: crimson;
                color: white;
            }
            #bdy-red {
                background-color: crimson;
            }
            #white {
                color: white;
            }
            #black {
                color: black;
            }
        </style>
    </head>
    <body id="bdy-red">
        <div class="jumbotron">
            <h1 class="display-4">Attention 9 Year Olds:</h1>
            <p class="lead">It is the final hour. PewDiePie needs our help to get back in the lead. In this time of desparate need, I ask you to do the following steps.</p>
            <hr class="my-4">
            <p>You will find the steps down below. Please. T-Series cannot overtake PewDiePie</p>
            <p class="lead">
                <a class="btn btn-outline-danger" href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw" role="button">Subscribe Now</a>
            </p>
        </div>
        <nav id="red" class="navbar navbar-expand-lg navbar-dark sticky-top">
                <a class="navbar-brand" href="/">Save PewDiePie</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="red">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    </ul>
                </div>
            </nav>
        <div class="container text-center" id="white">
                <div class="row">
                        <div class="col text-center">
                            <h3 class="display-3">PewDiePie</h3><br>
                            <h1 class="display-1"><%= subcount %></h1>
                        </div>
                        <div class="col text-center">
                                <h3 class="display-3">T-Series</h3><br>
                                <h1 class="display-1"><%= t_count %></h1>
                            </div>
                    </div>
                    <br><br>
                    <h1 class="display-1">Subscribe to PewDiePie</h1>
                    <h3 class="display-3">Its our only chance.</h3>
                    <br><br>
                    <p class="lead">People all over have been doing their part to help PewDiePie. Take a look.</p>
                    <!--
                        <div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
                    -->
                    <div class="card-columns" id="black">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Someone hacked printers worldwide, urging people to subscribe to PewDiePie</h5>
                                <p class="card-text">The fight over who gets to have the most-subscribed channel on YouTube spilled into the real world months ago when Felix “PewDiePie” Kjellberg fans started campaigning to raise awareness of the Swedish star.</p>
                              </div>
                            </div>
                            <div class="card p-3">
                              <blockquote class="blockquote mb-0 card-body">
                                <p>"Playing PewDiePie's diss track 'Bitch Lasagna' for 10 hours straight."</p>
                                <footer class="blockquote-footer">
                                  <small class="text-muted">
                                    Davie504 <cite title="Source Title">YouTube</cite>
                                  </small>
                                </footer>
                              </blockquote>
                            </div>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Saying Pewdiepie 100,000 Times</h5>
                                <p class="card-text">I SAID HIS NAME 100,000 TIMES TO STOP TSERIES IN THEIR TRACKS</p>
                                <p class="card-text"><small class="text-muted">MrBeast</small></p>
                              </div>
                            </div>
                            <div class="card bg-primary text-white text-center p-3">
                              <blockquote class="blockquote mb-0">
                                <p>What can you do to support the cause?</p>
                              </blockquote>
                            </div>
                            <div class="card text-center">
                              <div class="card-body">
                                <h5 class="card-title">PEWDIEPIE VS T-SERIES LIVE SUB COUNT: WHO WILL PREVAIL?</h5>
                                <p class="card-text">FlareTV has been streaming "Bitch Lasagna" while keeping a live update of the subscriber count for both PewDiePie and T-Series.</p>
                                <p class="card-text"><small class="text-muted">FlareTV</small></p>
                              </div>
                            </div>
                            <div class="card p-3 text-right">
                              <blockquote class="blockquote mb-0">
                                <p>Buying PewDiePie a $1M Billboard in Times Square!</p>
                                <footer class="blockquote-footer">
                                  <small class="text-muted">
                                    Justin Roberts <cite title="Source Title">YouTube</cite>
                                  </small>
                                </footer>
                              </blockquote>
                            </div>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">FlareTV Stream Chat</h5>
                                <p class="card-text">Users have been spamming "T-GAY" in FlareTV's stream chat to help show support for PewDiePie.</p>
                                <p class="card-text"><small class="text-muted">Go and join them!</small></p>
                              </div>
                            </div>
                          </div><br><br>
                          <h1 class="display-1">How to help now:</h1>
                          <br>
                          <p class="lead">Follow these steps to help PewDiePie secure that top-spot.</p>
                          <br>
                          <ul class="list-group text-left" id="black">
                                <li class="list-group-item">1. Unsubscribe from <a href="https://www.youtube.com/channel/UCq-Fj5jknLsUf-MWSy4_brA">T-Series</a>.</li>
                                <li class="list-group-item">2. Subscribe to <a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw">PewDiePie</a>.</li>
                                <li class="list-group-item">3. Help out in any way possible.</li>
                                <li class="list-group-item">4. Buy PewDiePie's merch.</li>
                                <li class="list-group-item">5. Subscribe to PewDiePie. Do it.</li>
                              </ul>
                              <br><br>
                              <h1 class="display-1">Thanks for looking and remember to subscribe to PewDiePie.</h1>
                              <br><br><br>
                              <a href="/?scrollTo=top" id="white">Back to top.</a>
                              <br><br><br><br><br>
        </div>
    </body>
</html>